<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <header>
    <p>Bienvenue sur la plateforme de fichiers partagés 
    </p>
    <nav>
      <p>
        <label for="fileSearch"> Recherche :</label>
        <input type="search" name="fileSearch" id="fileSearch" placeholder="nom du fichier" size="50">
       
      </p>
    </nav>
  </header>
  <div id="image_file">
    <img src="images/password.jpg">
  </div>
  <section>
    <article>
      <h1>
        Welcome to {{ title }}, my new perroquet !
      </h1>
    </article>
    <aside>
      <p>Espace libre :</p>
    </aside>
  </section>
 

</div>



