<!--The content below is only a placeholder and can be replaced.-->   
<div style="text-align:center">

  <header>


     <div class="row">

        <div class="container col-lg-2 align-self-center">                                       
                                               
           <div class="dropdown">
                <button class="btn btn-default" type="button" data-toggle="dropdown">Options
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" (click)="suppr()" >Supprimer</a></li>
                    <li><a tabindex="-1" (click)="renommer()">Renommer</a></li>
                     <li><a tabindex="-1" (click)="move()">Déplacer</a></li>
                      <li><a tabindex="-1" (click)="addFile()">Ajouter</a></li>
                    
                </ul>
            </div>
        </div>

        <script>
            $(document).ready(function(){
                $('.dropdown-submenu a.test').on("click", function(e){
                    $(this).next('ul').toggle();
                    e.stopPropagation();
                    e.preventDefault();
                });
            });
        </script>
    <div class="col-lg-8">
    <nav>
      
        <p >
        <label for="fileSearch"> Recherche :</label>
        <input type="search" name="fileSearch" id="fileSearch" placeholder="nom du fichier" size="50">
      </p>
    </nav>
    </div>

 <div class="col-lg-2 align-self-center">
 <a class="btn btn-outline-primary" routerLink="/" >Home</a> 

 <a class="btn btn-outline-primary" routerLink="/createaccount" >log plateforme </a>    

 </div>
     </div>

     
  
  </header>
  <div id="image_file">
  </div>
  <section>

    
    <article>
      <h1>


        Liste des fichiers
      </h1>
          
      <table width=100% cellspacing="0">
        <tr>

          <th></th>
          <th>Type</th>
          <th>Nom </th>
          <th>Plateforme</th>
          <th>Date modif</th>
           <th>Size</th>
            <th>Rights</th>
             <th>Users</th>

        </tr>



        <tbody *ngFor="let fold of listFolder">
        <tr>
          <input type="radio" name="parent" id={{fold.id}} />
          <td>
            <div *ngIf="isFile(fold.type);then content else other_content">here is ignored</div>
            <ng-template #content><input type="button" value="Enfants" id={{fold.id}} (click)="askChildren(fold.id)" ></ng-template>
            <ng-template #other_content>{{fold.type}}</ng-template>
          </td>
 
          <td>{{fold.nom}}</td>
          <!--<td><img src="/images/icone-dossier.png" alt="Photo de montagne" /></td>-->
          <td>{{fold.plateforme}}</td>
          <td>{{fold.dateModif}}</td>
         
        </tr>
        <div *ngIf="fold.id==idDossierParent;then contentbis else other_contentbis">here is ignored</div>
         <ng-template #contentbis>
        
            <tr *ngFor="let child of listChildrenFiles">
              <td>    <input type="radio" name="parent" id={{child.id}} /></td>
              <td>=></td>
              <td ><span class="marge">{{child.nom}}</span></td>
              <td>{{child.plateforme}}</td>
              <td>{{fold.dateModif}}</td>
            </tr>
          </ng-template>
          <ng-template #other_contentbis> </ng-template>
       
     </tbody>
      </table>





    </article>
    <aside>
      <h2>Espace libre :</h2>
      <p>
        {{free}} <br>
      {{freebis}} <br>

    </p>


    </aside>

  </section>


</div>
